appdirs==1.4.4
attrs==23.2.0
cads-api-client==1.1.0
Cartopy==0.23.0
cdsapi==0.7.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cmocean==4.0.3
contourpy==1.2.1
cycler==0.12.1
cyclophaser==1.7.3
dask==2024.7.0
flexcache==0.3
flexparser==0.3.1
fonttools==4.53.1
fsspec==2024.6.1
idna==3.7
kiwisolver==1.4.5
locket==1.0.0
lorenz-phase-space==1.2.4
matplotlib==3.9.1
MetPy==1.6.2
multiurl==0.3.1
numpy==2.0.0
packaging==24.1
pandas==2.2.2
partd==1.4.2
pillow==10.4.0
Pint==0.24.3
platformdirs==4.2.2
pooch==1.8.2
pyparsing==3.1.2
pyproj==3.6.1
pyshp==2.3.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
scipy==1.14.0
setuptools==70.3.0
shapely==2.0.5
six==1.16.0
toolz==0.12.1
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
xarray==2024.2.0
